<div id="<%= dom_id shop %>">
  <p>
    <strong>Name:</strong>
    <%= shop.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= shop.price %>
  </p>

  <p>
    <strong>Descripition:</strong>
    <%= shop.descripition %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= shop.image %>
  </p>

</div>
