<div class="row">
  <div class="col-1">
    
    <%= render "layouts/side_navbar" %>
  </div>
  <div class="col-10">
    <div class="dashabord" style="margin-left: 200px;">
      <div class="mt-5">
        <table class="mt-5">
          <tr>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <td>Gender</td>
            <td><%= current_user.gender %></td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><%= current_user.phone %></td>
          </tr>
          
        </table>
      </div>
      <div class="d-flex text-center">
      <%= link_to "Edit", edit_user_registration_path, class: 'btn bg-gradient-info mt-3 text-center mr-5', onclick:"return confirm('Are you sure Edit?')" %>
    </div>
    </div>
  </div>
</div>
