<p class="notice text-center devise_notice"><%= notice%></p>
<p class="alert text-center devise_notice"><%= alert %></p>
<div class=" ml-4">
  <div class="index_user  mt-4">
    <% @products.each do |product| %>
    <%# binding.break %>
    <div id="user_shop">
      <hr class="invisible">
      <div class="text-center">
        <div class="user_image mr-5">
          <%= image_tag "/uploads/product/images/#{product[:id]}/#{  product.images.present? ? product[:images] : "DSC_1258.JPG"  }", class: "user_image ml-4" %>
        </div>
      </div>
      <div class=" user_text text-center">
        <h5>Name: <%= product.name.titleize %></h5>
        <h5>Price: <%= product.price %>&#8377; </h5>
      </div>
      <hr>
      <div class="d-flex justify-content-around mb-2">
        <%= link_to "Buy Product", product.url, class: "btn bg-gradient-info ml-2" %>
      </div>
    </div>
    <% end %>
  </div>
  
</div>
<style type="text/css">
#user_shop{
background-color: rgba(102, 88, 234, 0.15);
/*      margin-top: 30px;
margin-left: 100px;*/
float: left;
margin: 4%;
height: 340px;
width: 308px;
box-shadow:  8px 6px 7px 1px #888888;
color: white;
border: none;
border-bottom-left-radius: 13px;
border-top-right-radius: 15px;
transition: 1s;
}
#user_shop:hover{
background-color: white;
/*      margin-top: 30px;
margin-left: 100px;*/
float: left;
margin: 4%;
height: 340px;
width: 308px;
box-shadow:  rgba(102, 88, 234, 0.15);
color: var(--main-back-color);
border: none;
border-bottom-left-radius: 13px;
border-top-right-radius: 15px;
cursor: pointer;
}
.user_image{
margin-top: 2px !important;
margin-left: 20px;
background-color: var(--main-back-color);
height: 200px;
width: 200px !important;
border-radius: 10%;
}
</style>