<div id="forget_password">
  <h2 class="text-center mt-3">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mt-3">
      <%= f.label :email,"Email*", class:"sign_up_field_text" %><br />
      <%= f.email_field :email, placeholder: 'Enter your Email', autofocus: true, autocomplete: "email",class:"form-control sign_up_field"  %>
    </div>

    <div class="actions text-center mt-4">
      <%= f.submit "Reset password", class:"text-center forget_password_btn" %>
    </div>
  <% end %>
  <div class= "text-center sign_up_link_btn mt-4" >

 </div> 
</div>


