<div class="row">
  <div class="col-2">
    <%= render "layouts/side_navbar" %>
  </div>
  <div class="col-10">
    <div class="d-flex justify-content-between">
    <a class="btn   btn-info text-center ml-3 mt-1" href="/qrcodes/new">Create Qrcode</a>
    <a class="btn   btn-dark text-center mr-3 mt-1" href="/qrcodes/recover_qrcode_page">Recover Qrcode</a>
    </div>
    <%= form_with(url: qrcodes_path, method: "get", id: "search") do %>
    <div class="d-flex ml-5">
      <%= text_field_tag(:query, nil, class: "form-control w-25 h-25 d-inline-block", placeholder: "Search Name") %>
      <%= submit_tag("Search", class: "btn btn-success h-25 d-inline-block ml-2 ") %>
      <a class="btn   btn-secondary text-center ml-3" href="/qrcodes">Reset</a>
      </div>
  <% end %>
    <div class="index_user  mt-4 ml-3">
      <% if  @qrcode.present? %>
      <% @qrcode.each do |qrcode| %>
      <%# binding.break %>
      <div id="user_index">
        <hr class="invisible">
        <div class="text-center">
          <%= image_tag qrcode.image, class: "user_image" %>
        </div>
        <div class=" user_text text-center">
          <h5>Name: <%= qrcode.name.titleize %></h5>
          <% if qrcode.location.present? %>
          <h5>Location: <%= qrcode.location.titleize.truncate(27) %> </h5>
          <% end %>
        </div>
        <hr>
        <div class="d-flex">
          <a  href="<%= qrcode.image %>", class="btn-secondary btn ml-4", download> Download</a>
          <%= link_to "Edit Qr", edit_qrcode_path(qrcode), class: "btn btn-info ml-2" %>
          <%= link_to "Destroy ", qrcode_destroy_qr_path(qrcode), method: :delete, class: "btn btn-danger ml-2" %>
        </div>
        <% if qrcode.file.present? %>
        
        <%= link_to "Go to", qrcode_path(qrcode), method: :delete, class: "btn btn-info  btn-lg btn-block w-75 ms-5" %>
    
        <% end %>
      </div>
      <% end %>
      <% else %>
      <h1 class="text-center text-info">No Qr Present</h1>
      <%  end %>
    </div>
  </div>

<script>
// $(document).ready(function(){
//   $("#search").keydown(function(){
//    $("#search").submit();
//   });
// });
</script>