<!-- <div id="<%= dom_id product %>">
  <p>
    <strong>Product:</strong>
    <%= product.product_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product.product_id %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Default price:</strong>
    <%= product.default_price %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= product.images %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= product.integer %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= product.payment_id %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Object:</strong>
    <%= product.object %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= product.active %>
  </p>

  <p>
    <strong>Boolean:</strong>
    <%= product.boolean %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= product.url %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price_id %>
  </p>

  <p>
    <strong>String:</strong>
    <%= product.string %>
  </p>

</div>
 -->