<div id="footer">
	<div class="row ml-5 ">
		<div class="col-5 footer_left ml-5">
			<%= link_to "Apple.com", "/", class: 'home text-center' %>
			<h4 class="mt-3">Copyright @ 2020</h4>
		</div>

		<div class="col-5 footer_right ">
			<%= link_to "Term and Policy", user_session_path, class: 'text' %><br>
			<%= link_to "Data protection", user_session_path, class: 'text mt-1' %><br>
			<%= link_to "Contact", user_session_path, class: 'text' %><br>
			<%= link_to "About", user_session_path, class: 'text' %><br>
			<%= link_to "Help", user_session_path, class: 'text' %><br>
			<%= link_to "Home", "/", class: 'text' %>
		</div>
	</div>
</div>